################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SigmaProject/.vs/SigmaProject/v15
