################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SigmaProject/.vs/SigmaProject/v15
/SigmaProject/SigmaProject/obj/Debug/netcoreapp2.2
/SigmaProject/DataLayer/obj/Debug/netcoreapp2.2
